/* Fuentes */

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Redressed&display=swap');

/* Base / Defaults */

:root {
  --text: #fff;
  --overlay: rgba(0, 0, 0, 0.4);
  --panel: rgba(255, 255, 255, 0.2);
  --input-bg: rgba(255, 255, 255, 0.1);
  --input-border: rgba(255, 255, 255, 0.8);
}

html { box-sizing: border-box;}

body {
  margin: 0;
  color: var (--text);
  font-family: "Bricolage Grotesque", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* { box-sizing: inherit;}

/* Tipografía */

h1, p { margin: 0; }
h1 { font-size: 6rem; }
p { font-size: 1.6rem;}


/* App Layout */

.app {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: var(--overlay);
  overflow: hidden;
}

.app::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url('./assets/background.jpg') no-repeat center / cover;
  z-index: -1;
  filter: blur(6px);
  transform: scale(1.05); 
}

.container{
  max-width: 700px;
  height: 700px;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* Barra de búsqueda*/

.search{
  padding: 1rem;
  text-align: center;
}

.app input{
  padding: 0.7rem 1.5rem;
  border-radius: 25px;
  font-size: 1.2rem;

  border: 1px solid var(--input-border);
  background: var(--input-bg);
  color: inherit;

  outline: none;
  box-shadow: none;
}

.app input::placeholder{
  color: var(--text);
  opacity: 0.85;
}

/* Bloques */

.top {
  width: 100%;
  margin: 1rem auto;
}

.description {
  position: absolute;
  top: 20%;
  left: 90%;
  transform: translate(-50% -50%) rotate(270deg);
  transform-origin: center;
  text-transform: capitalize;
}

.bottom {
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;

  display: flex;
  justify-content: space-evenly;
  text-align: center;

  background-color: var(--panel);
}

/* Utilidades */

.bold { font-weight: 700; }